@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: cursive, Proxima Nova, system-ui, sans-serif;
  }
}

@layer utilities {
  /* For Firefox Browser */
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
  }

  /* For Chrome, EDGE, Opera, Others */
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #09090b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d19411;
    border-radius: 100vh;
    /* border: 1px solid #d19411; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d11a11;
  }
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.stats,
.repos {
  background: linear-gradient(45deg, #1c1917, #7f1d1d);
}
